[server]
# 0.0.0.0 erlaubt Clients aus dem lokalen Netz. Die Firewall muss TCP 5680
# nur fuer vertrauenswuerdige Rechner freigeben.
listen_address=0.0.0.0
port=5680

[device]
# Diese Werte kennt ausschliesslich airctrl-server.
host=AC2729-10
port=5683
reconnect_ms=10000
request_ms=60000
idle_ms=90000
